---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import ClockIcon from "astro-heroicons/outline/Clock.astro";
import CalendarIcon from "astro-heroicons/outline/Calendar.astro";
import Tag from "../../components/Tag.astro";
import SimpleHeader from "../../components/headers/SimpleHeader.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description, tags, time, pubDate, pretitle, image } = entry.data;
const { Content } = await entry.render();
const meta = {
  title: "Automated sharing and scheduling for Flickr Groups",
  description:
    "Skedr helps you spend less time sharing photos to Flickr groups.",
};
---

<Layout meta={meta}>
  <SimpleHeader title={title} description={description} image={image} />
  <div class="bg-white px-6 py-20 lg:px-8">
    <div class="mx-auto max-w-3xl text-xs leading-7 text-gray-700">
      <div class="flex justify-between">
        <div class="space-x-2">
          {tags.map((tag) => <Tag tag={tag} />)}
        </div>

        <div class="inline-flex items-center">
          <ClockIcon class="h-3 w-3 mr-1" />
          {time} min read -
          <CalendarIcon class="h-3 w-3 mx-1" />
          {pubDate.toLocaleDateString()}
        </div>
      </div>

      <p class="mt-8 text-base font-semibold leading-7 text-indigo-600">
        {pretitle}
      </p>
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</Layout>
