---
import Layout from "../layouts/Layout.astro";
import HomeCta from "../components/home/HomeCta.astro";
import HeaderFeatures from "../components/headers/HeaderFeatures.astro";
import RectangleStack from "astro-heroicons/solid/RectangleStack.astro";
import Calendar from "astro-heroicons/solid/Calendar.astro";
import Users from "astro-heroicons/solid/Users.astro";
import Photo from "astro-heroicons/outline/Photo.astro";
import HomeHowToUse from "../components/home/HomeHowToUse.astro";
import {
  ArrowTopRightOnSquareIcon,
  ArrowsUpDownIcon,
  InformationCircleIcon,
  SwatchIcon,
  TagIcon,
  XCircleIcon,
} from "@heroicons/vue/16/solid";
import FeatureList from "../components/FeatureList.astro";

const meta = {
  title: "Features of Skedr",
  description: "Learn how Skedr helps you share your photos more easily",
};

const features = [
  {
    name: "Groups+",
    description:
      "Join plenty of groups. Groups are more than just posting; they are about contributing to the experience of the site and connecting with more Flickr fans. Before tagging, track down the best tags for each group. Search the groups you have joined or discover new ones to share your images. All in one place.",
    icon: RectangleStack,
  },
  {
    name: "Photostream+",
    description:
      "The quickest approach to seeing every metric you need to know about. Views, likes, shared groups, and preferences in a single spot. You can manage every image tags as well. Comment regularly and interact as much as you can as this will make you well known and ideally well liked and of course, bring traffic to your work.",
    icon: Users,
  },
  {
    name: "Scheduled",
    description:
      "You can then see which images are auto-scheduled to be shared later according to the rules the group limits permit.",
    icon: Calendar,
  },
];

const groupsEnhancements = [
  {
    icon: Photo,
    name: "Visual metrics.",
    description: "Show the image and users count from each group.",
  },
  {
    icon: XCircleIcon,
    name: "Group restriction limits.",
    description:
      "See the shared status of each group. If you haven’t joined the group, the regularity of posting will be shown instead.",
  },
  {
    icon: ArrowsUpDownIcon,
    name: "How to know if a group has been opted in or out of Flickr's photo limit.",
    description:
      "Look for the <span class='text-green-400'>green circle for opted out</span> and the <span class='text-red-400'>red circle for opted in</span>. You can hover over the circle to read the description so you know where you're at.",
  },
  {
    icon: ArrowTopRightOnSquareIcon,
    name: "Direct group link",
    description:
      "Fast track access to the Flickr group's page thanks to the external link to the group title.",
  },
];

const configuration = [
  {
    icon: InformationCircleIcon,
    name: "Read the group rules before configuring your tag/s.",
    description:
      "It will help avoid any of your images being banned. The search bar will show you relevant tags from photos you have already in your group.",
  },
  {
    icon: TagIcon,
    name: "One tag for simple use cases.",
    description:
      "Configure one tag that describes the group will simplify your tag strategy.",
  },
  {
    icon: SwatchIcon,
    name: "Tag mode for complex use cases.",
    description:
      "There are exceptions if you want to share more specific photos. For example for the bird watchers out there you have an epic shot of a flock of birds who are eating. Add [bird] and [eating] and then turn on the tag mode.",
  },
];
---

<Layout meta={meta}>
  <HeaderFeatures />
  <div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p class="text-base font-semibold leading-7 text-indigo-400">
          Deploy faster
        </p>
        <h2
          class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl"
        >
          What you need to know
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          Skedr is designed to be your assistant and make it easy for you to
          share your photos and digital art with tags. Simply upload tagged
          images and you will see by using Skedr you can share them to the
          tagged groups automatically. You will notice that your images are
          rescheduled when a group posting limit is reached. Magic.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
        >
          {
            features.map((feature) => (
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">
                  <feature.icon
                    class="h-5 w-5 text-indigo-400 flex-none"
                    aria-hidden="true"
                  />
                  {feature.name}
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                  <p class="flex-auto">
                    <Fragment set:html={feature.description} />
                  </p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>

  <FeatureList
    pretitle="Groups+"
    title="Check whether groups are active or not"
    description="We report on the most important data from each Flickr group. Here’s some of the cool stuff we can do:"
    list={groupsEnhancements}
  >
    <video autoplay loop>
      <source src="/groups_section.webm" type="video/webm" />
    </video>
  </FeatureList>

  <FeatureList
    pretitle="Configuration"
    title="Manage your tags"
    description="The classic mistake many of you fine people make is tagging and grouping your images randomly or intuitively. Believe or not, tagging is a minor art form, there are a bunch of tagging techniques which can transform the discoverability of your work on Flickr. We have the playbook right here:"
    list={configuration}
    invertOrder={true}
  >
    <video autoplay loop>
      <source src="/groups_configuration.webm" type="video/webm" />
    </video>
  </FeatureList>

  <!-- <div class="relative bg-gray-50 pt-16 pb-32 overflow-hidden">
    <div class="relative">
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
      >
        <div
          class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0"
        >
          <div>
            <div>
              <span
                class="h-12 w-min text-white p-4 rounded-md flex items-center justify-center bg-indigo-600"
              >
                <RectangleStack class="h-6 w-6 mr-1.5" />
                Groups
              </span>
            </div>
            <div class="mt-6 text-gray-500 text-lg">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Enhanced groups
              </h2>
              <p class="mt-4">
                We report on the most important data from each Flickr group to
                check whether the group is active or not. Here’s some of the
                cool stuff we can do:
              </p>
              <ul role="list" class="list-disc list-inside my-4 ml-4 space-y-2">
                <li>
                  Show the image count
                  <Photo class="h-6 w-6 inline-block" />
                  and users
                  <Users class="h-6 w-6 inline-block" />
                  in the group
                </li>
                <li>
                  Group restriction limits. You will be able to see the shared
                  status of each group ( updated daily ). If you haven’t joined
                  the group, the regularity of posting and sharing will be shown
                  (forever/1 week/ no limit and so on.)
                </li>
                <li>
                  How to know if a group has been opted in or out of Flickr's
                  photo limit: Look for the <span class="text-emerald-500">
                    green circle for opted out
                  </span> and the <span class="text-red-500"
                    >red circle for opted in</span
                  >. You can hover over the circle to read the description so
                  you know where you're at.
                </li>
                <li>
                  Fast track access to the Flickr group's page thanks to the
                  external link to the group title. Get fast access to the
                  Flickr group's page thanks to external link the group title.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div
            class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
          >
            <video
              class="w-full rounded-xl shadow-xl max-h-full ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:w-auto lg:max-w-none"
              autoplay
              loop
            >
              <source src="/groups_section.webm" type="video/webm" />
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
      >
        <div
          class="px-4 max-w-xl mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"
        >
          <div>
            <div>
              <span
                class="h-12 w-min text-white p-4 rounded-md flex items-center justify-center bg-indigo-600"
              >
                <Cog class="h-6 w-6 mr-1.5" aria-hidden="true" />
                Configuration
              </span>
            </div>
            <div class="mt-6 text-gray-500 text-lg">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Manage your tags
              </h2>
              <p class="mt-4">
                The classic mistake many of you fine people make is tagging and
                grouping your images randomly or intuitively. Believe or not,
                tagging is a minor art form, there are a bunch of tagging
                techniques which can transform the discoverability of your work
                on Flickr. We have the playbook right here:
              </p>
              <ul role="list" class="list-disc list-inside my-4 ml-4 space-y-2">
                <li>
                  Read the group rules before configuring your tag/s. It will
                  help avoid any of your images being banned. The search bar
                  will show you relevant tags from photos you have already in
                  your group. Note, if you just joined it will not show any
                  suggestions.
                </li>
                <li>
                  You can configure more than one tag but our recommendation is
                  always one as it simplifies your tag strategy.
                </li>
                <li>
                  There are exceptions if you want to share more specific
                  photos. For example for the bird watchers out there you have
                  an epic shot of a flock of birds who are eating. Add [bird]
                  and [eating] and then turn on the tag mode.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div
            class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
          >
            <video
              class="w-full rounded-xl shadow-xl max-h-full ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:w-auto lg:max-w-none"
              autoplay
              loop
            >
              <source src="/groups_configuration.webm" type="video/webm" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <HomeHowToUse />
  <HomeCta class="bg-gray-50" />
</Layout>
