---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";
import { stripHtml } from "../utils/general";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
interface Props {
  post: CollectionEntry<"posts">;
}

// `post` will match your 'blog' collection schema type
const { post: collection } = Astro.props;
const { data: post } = collection;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}"
);
// if (!images[post.image]) {
//   console.log("images found", images);
//   console.log(post.image);
//   throw new Error(
//     `"${post.image}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif}"`
//   );
// }
---

<article class="relative isolate flex flex-col gap-8 lg:flex-row">
  <div
    class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0"
  >
    {
      images[post.image] ? (
        <Image
          src={images[post.image]()}
          alt={post.title}
          class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover"
        />
      ) : (
        <img
          src={`${post.image}?auto=format&fit=crop&w=3603&q=80 `}
          alt={post.title}
          class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover"
        />
      )
    }
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    >
    </div>
  </div>
  <div>
    <div class="flex items-center gap-x-4 text-xs">
      <time datetime={post.pubDate.toISOString()} class="text-gray-500">
        {post.pubDate.toLocaleDateString()}
      </time>
      {post.tags.map((tag) => <Tag tag={tag} />)}
    </div>
    <div class="group relative max-w-xl">
      <h3
        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a href={`/blog/${collection.slug}`}>
          <span class="absolute inset-0"></span>
          <Fragment set:text={stripHtml(post.title)} />
        </a>
      </h3>
      <p class="mt-5 text-sm leading-6 text-gray-600">
        <Fragment set:html={post.description} />
      </p>
    </div>
    <div class="mt-6 flex border-t border-gray-900/5 pt-6">
      <div class="relative flex items-center gap-x-4">
        <img
          src="https://farm66.staticflickr.com/65535/buddyicons/144521588@N08_r.jpg"
          alt="Enric Bisbe Gil"
          class="h-10 w-10 rounded-full bg-gray-50"
        />
        <div class="text-sm leading-6">
          <p class="font-semibold text-gray-900">
            <span class="absolute inset-0"></span>
            Enric Bisbe Gil
          </p>
          <p class="text-gray-600">Skedr Founder</p>
        </div>
      </div>
    </div>
  </div>
</article>
