---
import { getPeopleProfile } from "../utils/flickrHelper";

interface Props {
  userId: string;
  description: string;
}
const { userId, description } = Astro.props;

const { person, profileUrl } = await getPeopleProfile(userId);
---

<figure class="not-prose mt-10 border-l border-indigo-600 pl-9">
  <blockquote class="font-semibold text-gray-900">
    <p>
      <slot />
    </p>
  </blockquote>
  <figcaption class="mt-6 flex gap-x-4">
    <img
      class="h-6 w-6 flex-none rounded-full bg-gray-50"
      src={profileUrl}
      alt={`Profile for user ${person.username._content}`}
    />
    <div class="text-sm leading-6">
      <strong class="font-semibold text-gray-900">
        <a href={`https://www.flickr.com/${userId}`} target="_blank">
          {person.username._content}
        </a>
      </strong>
      {description}
    </div>
  </figcaption>
</figure>
