---
interface Props {
  pageNotFound?: boolean;
  meta: {
    title: string;
    description: string;
  };
}

const is404Page = Astro.props.pageNotFound ?? false;
const { title, description } = Astro.props.meta;
import TheFooter from "./TheFooter.astro";
import Screenshot from "../assets/groups_page.png";
import TheHeader from "./TheHeader.vue";
import { ViewTransitions } from "astro:transitions";

const gtmId = import.meta.env.PUBLIC_GTM;
const gtmUrl = `https://www.googletagmanager.com/ns.html?id=${gtmId}`;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPath = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en" class={is404Page ? "h-full" : ""}>
  <head>
    <link rel="canonical" href={canonicalURL} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={Screenshot.src} />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:image" content={Screenshot.src} />
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Google Tag Manager -->
    <script is:inline id="gtm-js" data-id={gtmId}>
      const id = document.getElementById("gtm-js").getAttribute("data-id");

      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", id);
    </script>
    <!-- End Google Tag Manager -->

    <ViewTransitions />
  </head>
  <body class={is404Page ? "h-full" : "bg-gray-800"}>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src={gtmUrl}
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {
      !is404Page ? (
        <TheHeader client:load currentPath={currentPath} />
      ) : undefined
    }
    <main class={is404Page ? "relative isolate min-h-full" : ""}>
      <slot />
    </main>
    {!is404Page ? <TheFooter /> : undefined}

    <script is:inline type="text/javascript">
      const button = document.querySelector("[data-open-beacon]");
      button?.addEventListener("click", () => window.Beacon("toggle"));
    </script>
  </body>
</html>
