---
interface Props { meta: {
	title: string;
  description: string;
} }

const { title, description } = Astro.props.meta;
import TheHeader from './TheHeader.astro';
import TheFooter from './TheFooter.astro';
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Screenshot from '../assets/screenshot.png'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={Screenshot.src} />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:image" content={Screenshot.src}/>
    <meta property="twitter:card" content="summary_large_image" />
		<!-- <script id="profitwell-js" data-pw-auth="76630afb50e57f5789b6e83c2124fd87">
      ;(function (i, s, o, g, r, a, m) {
        i[o] =
          i[o] ||
          function () {
            ;(i[o].q = i[o].q || []).push(arguments)
          }
        a = s.createElement(g)
        m = s.getElementsByTagName(g)[0]
        a.async = 1
        a.src = r + "?auth=" + s.getElementById(o + "-js").getAttribute("data-pw-auth")
        m.parentNode.insertBefore(a, m)
      })(window, document, "profitwell", "script", "https://public.profitwell.com/js/profitwell.js")

      profitwell("start")
    </script> -->
    <SpeedInsights/>
	</head>
	<body class="bg-gray-800 pt-6">
    <TheHeader />
    <main class="relative overflow-hidden">
      <div class="hidden sm:block sm:absolute sm:inset-0" aria-hidden="true">
        <svg
          class="absolute bottom-0 right-0 translate-x-1/2 mb-48 text-gray-700 lg:top-0 lg:mt-28 lg:mb-0 xl:transform-none xl:translate-x-0"
          width="364"
          height="384"
          viewBox="0 0 364 384"
          fill="none"
        >
          <defs>
            <pattern
              id="eab71dd9-9d7a-47bd-8044-256344ee00d0"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect x="0" y="0" width="4" height="4" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="364" height="384" fill="url(#eab71dd9-9d7a-47bd-8044-256344ee00d0)" />
        </svg>
      </div>
      <div class="relative ">
		<slot />
      </div>
    </main>
    <TheFooter />
	</body>
</html>

