---
import Bars3 from "astro-heroicons/outline/Bars3.astro";
import XMark from "astro-heroicons/outline/XMark.astro";
import { Image } from "astro:assets";

import BrandLogoWhite from "../assets/logo/brand_logo_white.svg";
import BrandLogo from "../assets/logo/brand_logo.svg";
import BrandNameWhite from "../assets/logo/brand_name_white.svg";
import BrandName from "../assets/logo/brand_name.svg";

const navigation = [
  { name: "Features", to: "/features" },
  { name: "Pricing", to: "/pricing" },
  { name: "Faq", to: "/faq" },
];
---

<nav
  class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6"
  aria-label="Global"
>
  <div class="flex items-center flex-1">
    <div class="flex items-center justify-between w-full md:w-auto">
      <a href="/" class="flex">
        <span class="sr-only">Skedr.io</span>
        <Image
          src={BrandLogo}
          class="h-9 w-auto sm:h-10"
          width="48"
          height="40"
          alt="Skedr.io logo"
        />
        <Image
          src={BrandName}
          class="ml-4 h-9 w-auto hidden sm:flex"
          alt="Skedr.io brand"
          width="120"
          height="36"
        />
      </a>
      <div class="-mr-2 flex items-center md:hidden">
        <button
          popovertarget="mobile-menu"
          class="bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <Bars3 class="h-6 w-6" aria-hidden="true" />
        </button>
      </div>
    </div>
    <div class="hidden space-x-10 md:flex md:ml-10">
      {
        navigation.map((item) => (
          <a href={item.to} class="font-medium text-white hover:text-gray-300">
            {item.name}
          </a>
        ))
      }
      <button
        data-open-beacon
        class="font-medium text-white hover:text-gray-300 cursor-pointer"
      >
        Support
      </button>
      <script type="text/javascript">
        const button = document.querySelector("[data-open-beacon]");
        button?.addEventListener("click", () => window.Beacon("toggle"));
      </script>
    </div>
  </div>
  <div class="hidden md:flex md:space-x-2">
    <a
      href="https://app.skedr.io/"
      class="log-in inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"
    >
      Log in
    </a>
    <a
      href="https://app.skedr.io/auth/create-account"
      class="sign-up inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-amber-500 hover:bg-amber-600 border-amber-600"
    >
      Sign up
    </a>
  </div>
</nav>

<div id="mobile-menu" popover class="popover">
  <div
    class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden"
  >
    <div class="px-5 pt-4 flex items-center justify-between">
      <div class="flex">
        <span class="sr-only">Skedr.io</span>
        <Image
          src={BrandLogoWhite}
          class="h-10 w-auto"
          alt="Skedr.io logo"
          width="48"
          height="40"
        />
        <Image
          src={BrandNameWhite}
          class="ml-4 h-9 w-auto flex"
          alt="'Skedr.io brand'"
          width="120"
          height="36"
        />
      </div>
      <div class="-mr-2">
        <button
          popovertarget="mobile-menu"
          class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
        >
          <span class="sr-only">Close menu</span>
          <XMark class="h-6 w-6" aria-hidden="true" />
        </button>
      </div>
    </div>
    <div class="px-2 pt-2 pb-3 space-y-1">
      {
        navigation.map((item) => (
          <a
            href={item.to}
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
          >
            {item.name}
          </a>
        ))
      }

      <a
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
        @click.prevent="openBeacon()"
      >
        Support
      </a>
    </div>
    <a
      href="https://app.skedr.io"
      class="log-in block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100"
    >
      Log in
    </a>
    <a
      href="https://app.skedr.io/auth/create-account"
      class="sign-up block w-full px-5 py-3 text-center font-medium text-white bg-amber-500 hover:bg-amber-600 border-amber-600"
    >
      Sign up
    </a>
  </div>
</div>

<style is:global>
  .popover {
    @apply !absolute !top-0 p-2 z-50 bg-transparent w-full;
    inset: unset;
  }
</style>
